<h1> All Discounts </h1>
<% @merchant.bulk_discounts.each do |discount| %>
<%= "#{discount.name} |  
    #{discount.discount * 100}% | 
    minimum purchase quanity: #{discount.threshold}" %>
    
    <%= form_with url: "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete, data: { turbo: false } do |f| %>
    <%= f.submit "Delete #{discount.name}" %>
    <%end%>
    </br>
<%end%>

<h3><%= link_to 'Create New Discount', new_merchant_bulk_discount_path(@merchant) %></h3>